<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Imperial Medal Awardees</title>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles.css}" crossorigin="anonymous">

    <script defer th:src="@{/jquery-3.5.1.min.js}" crossorigin="anonymous"></script>
    <script defer th:src="@{/bootstrap.min.js}" crossorigin="anonymous"></script>

    <script>
        $(".heads").hover(function() {
            $(this).css('cursor','pointer').attr('title', $(this).attr('memberName'));
        }, function() {
            $(this).css('cursor','auto');
        });
    </script>

</head>
<body>

<div id="top">
    <p>Imperial Awardee List: Alpha<br/></p>
</div>

<div class="container">
    <div th:each="member : ${members}">
        <input type="image" class="heads" data-th-attr="memberName=${member.userName}"
               th:src="@{/members/__${member.userName}__/head}"/>
    </div>
</div>


</body>
</html>